<%- include('includes/head.ejs') %>
<!-- Google font -->
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,700"
      rel="stylesheet">

<!-- Custom stlylesheet -->
<link rel="stylesheet"
      href="/css/404.css" />
</head>

<body>
<%- include('includes/navigation.ejs') %>
<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>5<span>0</span>0</h1>
        </div>
        <p>Some error occured!</p>
        <p>We're working on fixing this, sorry for the inconvenience caused!</p>
        <a href="/">home page</a>
    </div>
</div>

<%- include('includes/end.ejs') %>