.cart__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin: auto;
  width: 60%; /* Adjust the width as needed */
  max-width: 90%;
}

.cart__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  transition: box-shadow 0.3s ease-in-out;
}

.cart__item:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.cart__item h1,
.cart__item h2 {
  margin: 0;
  font-size: 1.5rem;
  color: #333;
}

.cart__item h2 {
  font-size: 1.2rem;
  color: #777;
}

.cart__item form {
  margin-left: auto;
}

.cart__item button {
  /* background-color: rgb(239, 20, 38); */
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.cart__item button:hover {
  background-color: #c82333;
}

.centered {
  text-align: center;
}

/* Additional styles for the "Order Now" button */
.centered form {
  display: inline-block;
}

.centered button {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.centered button:hover {
  background-color: #218838;
}


.cart__item-image {
  width: 80px; /* Adjust the image width as needed */
  height: 80px; /* Adjust the image height as needed */
  object-fit: cover;
  border-radius: 8px;
  margin-right: 1rem;
}
